<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bale.dotapps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sementara.AddHeroSkillActivity"></activity>
        <activity android:name=".HeroDetailActivity"
            android:parentActivityName=".HeroActivity"/>
        <activity android:name=".sementara.AddHeroActivity" />
        <activity android:name=".sementara.AddItemActivity" />
        <activity android:name=".ItemDetailActivity"
            android:parentActivityName=".ItemsActivity"/>
        <activity
            android:name=".HeroActivity" />
        <activity
            android:name=".TipsTrickActivity"/>
        <activity android:name=".Splashscreen" />
        <activity
            android:name=".ItemsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>